.main-slider {
  width: 100%;
  height: 374px;
  background-color: #b2b2b2;
  background-image: url(../images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 130%;
  background-position: left;
}

.main-slider .slider-overlay .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-slider .slider-overlay .container .page-title {
  font-family: 'NexaBold';
  font-size: 4.8rem;
  color: #fff;
  margin-top: -70px;
}

.main-slider .slider-overlay .container .page-links {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.main-slider .slider-overlay .container .page-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  color: #fff;
  height: 40px;
  padding: 0 15px;
  margin: 0 8px;
  border-radius: 40px;
  border: 2px solid #fff;
  border-style: dashed;
  background-color: rgba(0, 0, 0, 0.4);
}

.container .content-box {
  width: 100%;
  min-height: 330px;
  border-radius: 150px;
  margin-top: -140px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 80px;
}

.container .content-box .content-title {
  font-size: 2.6rem;
  font-family: 'AvenirBlack';
  color: #2d0452;
}

.container .content-box .content-summary {
  font-size: 1.6rem;
  color: #2d0452;
  opacity: 0.6;
  margin-top: 5px;
}

.container .content-box .page-content {
  width: 80%;
  height: auto;
  margin-top: 30px;
  font-size: 2rem;
  color: #000;
  line-height: 1.6;
  margin-bottom: 30px;
}

.bottom-banner {
  width: 100%;
  height: 320px;
  overflow: hidden;
  margin-top: 90px;
  background-image: url(../images/mutlumusteri.jpg);
  background-size: cover;
  background-size: 120%;
  background-position: 50% 30%;
  background-position: fixed;
}

.bottom-banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-banner .container .banner-text {
  font-size: 3.6rem;
  color: #fff;
  text-shadow: 0px 0px 15px black;
  font-family: 'AvenirBlack';
}

.bank-details {
  width: 100%;
  height: auto;
}

.bank-details .bank {
  width: 100%;
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #2d0452;
}

.bank-details .bank .bank-logo {
  width: 300px;
  height: 90px;
  border-radius: 15px;
  border: 2px solid #2d0452;
  border-style: dashed;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.bank-details .bank .bank-logo img {
  width: 80%;
  height: auto;
}

.bank-details .bank .bank-numbers {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
}

.bank-details .bank .bank-numbers p {
  font-size: 1.5rem;
}

.bank-details .bank .bank-numbers p span {
  font-family: 'AvenirBlack';
}
/*# sourceMappingURL=hakkimizda.css.map */