
$darkPurple: #0f011a;
$purple: #2d0452;
$red: #ff2a00;
$yellow: #ffaf00;
$blue: #00baff;
$gray: #b2b2b2;

.main-slider {
  min-width: 100%;
  height: 374px;
  background-color: $gray;
  background-image: url(../images/kabin.jpg);
  background-repeat: no-repeat;
  background-position: 50% 30%;

  .slider-overlay {
    .container {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      .page-title {
        font-family: 'Exo', sans-serif;
        font-weight: 600;
        text-align: center;
        font-size: 4.8rem;
        color: #fff;
        margin-top: -100px;
      }

    }
  }

}


.container {
  .content-box {
    width: 100%;
    min-height: 330px;
    border-radius: 150px;
    margin-top: -140px;
    background-color: #fff;
    box-shadow: 0px 0px 60px rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 80px;
    .content-title {
      font-size: 2.6rem;
      font-family: 'AvenirBlack';
      color: $purple;
    }
    .content-summary {
      font-size: 1.6rem;
      color: $purple;
      opacity: 0.6;
      margin-top: 5px;
      text-align: center;
    }
    .page-content {
      width: 90%;
      height: auto;
      margin-top: 30px;
      font-size: 2rem;
      color: #000;
      line-height: 1.6;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .kabin-box {
        width: 265px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .kabin-title {
          width: 240px;
          padding-bottom: 20px;
          height: 70px;
          border-radius: 10px 10px 0 0;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          background-color: #a28ec2;
          color: #fff;
          font-family: 'AvenirBlack';
        }

        &:nth-child(2) {
          .kabin-title {
            background-color: #7a63a0;
          }
        }

        &:last-child {
          .kabin-title {
            background-color: #4b3969;
          }
        }

        ul {
          width: 100%;
          height: auto;
          background-color: #f8f8f8;
          border-radius: 20px;
          margin-top: -20px;
          padding-bottom: 20px;
          li {
            display: flex;
            align-items: center;
            padding: 10px 25px;
            border-bottom: 1px solid #b4b4b4;
            width: 90%;
            margin: 0 auto;

            span {
              font-size: 4rem;
              font-family: 'AvenirBlack';
              text-align: center;
              width: 100%;
              b {
                font-family: sans-serif;
              }
            }
            .kabin-img {
              flex: 1;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .kabin-text {
              margin-left: 15px;
              flex: 2;
              p {
                font-size: 1.6rem;
              }
              strong {
                font-size: 1.8rem;
                font-family: 'AvenirBlack';
              }
            }

            &:last-child {
              border: none;
            }
          }
        }

        .yapilandir {
          width: 240px;
          height: 50px;
          border-radius: 50px;
          background-color: $purple;
          color: #fff;
          font-family: 'AvenirBlack';
          font-size: 2.1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: -20px;
        }

      }

    }
  }
}

.container {
  .kabin-specs {
    width: 100%;
    height: auto;
    margin-top: 90px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
   & > li {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      h3 {
        font-family: 'AvenirBlack';
        font-size: 2rem;
        margin: 10px auto;
        text-align: center;
      }
      p {
        font-size: 1.3rem;
        line-height: 1.3;
      }
      ul {
        li {
          width: 100%;
          text-align: center;
          font-size: 1.3rem;
          margin-bottom: 3px;
        }
      }
    }
  }
}


.container {
  .features {
    width: 100%;
    margin-top: 90px;
    height: auto;
    li {
      display: flex;
      align-items: center;
      width: 100%;
      height: 90px;
      background-color: $red;
      border-radius: 30px;
      margin-bottom: 30px;
      .feauture-img-box {
        background-color: rgba(0,0,0,.2);
        height: 90px;
        width: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px 0 20px 30px;
      }
      .text {
        margin-left: 20px;
        font-size: 1.8rem;
        color: #fff;
      }

      &:nth-child(2) {
        background-color: $yellow;
      }
      
      &:nth-child(3) {
        background-color: $blue;
        .img-box {
          padding-left: 15px;
          padding-top: 20px;
        }
      }
      
      &:last-child {
        background-color: $purple;
        .img-box {
          padding-left: 15px;
          padding-top: 20px;
        }
      }
    }
  }
}


.bize-ulasin {
  width: 100%;
  height: 130px;
  background-color: $purple;
  background-image: url(../images/footer-bg.png);
  background-position: 20% 50%;
  margin-top: 80px;
  .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    & > p {
      font-size: 2.6rem;
      color: #fff;
    }
    .phone-number {
      font-size: 4.4rem;
      background-color: #fff;
      height: 70px;
      display: flex;
      align-items: center;
      border-radius: 35px 10px 10px 35px;
      padding-right: 10px;
      span {
        width: 78px;
        height: 78px;
        border-radius: 50%;
        border: 4px solid $purple;
        display: flex;
        margin-right: 5px;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.bottom-banner {
  width: 100%;
  height: 320px;
  overflow: hidden;
  background-image: url(../images/mutlumusteri2.jpg);
  background-position: 50% 30%;
  background-size: cover;
  .container {
    display: flex;
    height: 100%;
    align-items: center;
    .banner-text {
      font-size: 3.6rem;
      color: #fff;
      text-shadow: 0px 0px 15px rgba(0,0,0,1);
      font-family: 'AvenirBlack';
    }
  }
}


.container {
  .metinler {
    margin-top: 90px;
    width: 100%;
    height: auto;
    .metin-item {
      display: flex;
      margin-bottom: 40px;
      .metin-wrap {
        flex: 1;
        padding: 30px;
        .img-cont {
          position: relative;
          height: 0;
          padding-top: calc(9 / 16 * 100%);
          border-radius: 15px;
          overflow: hidden;
          img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
          }
        }
        .metin-text {
          text-align: right;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          h3 {
            color: #453f3d;
            font-size: 2.8rem;
            font-family: 'AvenirBlack';
            margin-bottom: 25px;
          }
          p {
            color: #453f3d;
            font-size: 1.8rem;
          }
        }
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }
    
  }
}




/* MAIN SLIDER */

.main-slider {
  width: 100%;
  height: 450px;
  background-color: $gray;
  background-image: url(../images/bg1.jpg);
  background-repeat: no-repeat;
  .slider-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    .container {
      height: 100%;
      .nextArrow {
        position: absolute;
        font-size: 5rem;
        color: #fff;
        transform: translateY(-28px);
        right: 45%;
        cursor: pointer;
        top: auto;
        bottom: 0 !important;
        z-index: 55;
      }
      .prevArrow {
        position: absolute;
        font-size: 5rem;
        color: #fff;
        top: auto;
        bottom: 0 !important;
        transform: translateY(-28px);
        left: 45%;
        cursor: pointer;
        z-index: 55;
      }
      h1 {
        position: absolute;
        top: 30px;
        font-size: 3rem;
        color: #fff;
        font-family: 'AvenirBlack';
      }
      .slider {
        width: 100%;
        height: 100%;
        .slider-item {
          width: 100%;
          height: 250px !important;
          display: flex;
          margin-top: 90px;
          padding: 30px;

          .slider-text {
            flex: 1;
            max-width: 900px;
            margin: 0 auto;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px 10%;
            border-radius: 100px;
            border: 5px solid white;
            text-align: center;
            background-color: rgba(255,255,255,.4);
            q {
              font-size: 2.4rem;
            }
            span {
              font-family: 'AvenirBlack';
              font-size: 2.4rem;
              margin-top: 15px;
            }
          }
        }
      } 
    }
  }
}

@media only screen and (max-width: 1170px) {

  
.container {
  .content-box {
    border-radius: 50px;
    margin-top: -150px;
    background-color: #fff;
    box-shadow: 0px 0px 60px rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    .content-title {
      font-size: 2rem;
      text-align: center;
      width: 80%;
    }
    .content-summary {
      font-size: 1.4rem;
      width: 80%;
      text-align: center;
    }
    .page-content {
      width: 90%;
      height: auto;
      margin-top: 30px;
      font-size: 2rem;
      margin-bottom: 30px;
      flex-direction: column;
      justify-content: space-around;

      .kabin-box {
        width: 90%;
        margin-bottom: 30px;
      }

    }
  }
}




.container {
  .kabin-specs {
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
   & > li {
      padding: 10px;
      h3 {
        text-align: center;
      }
      p {
        text-align: center;
      }
      ul {
        li {
          text-align: center;
        }
      }
    }
  }
}





.container {
  .features {
    width: 100%;
    margin-top: 50px;
    height: auto;
    li {
      display: flex;
      align-items: flex-start;
      width: 100%;
      height: auto;
      border-radius: 20px;
      .feauture-img-box {
        height: 100%;
        min-width: 110px;
        border-radius: 20px 0 20px 30px;
        padding: 20px;
        img {
          height: 40%;
        }
      }
      .text {
        margin: 20px 10px;
        font-size: 1.5rem;
      }
      &:nth-child(3) {
        background-color: $blue;
        .img-box {
          padding-left: 0px;
          padding-top: 0px;
        }
      }
      
      &:last-child {
        background-color: $purple;
        .img-box {
          padding-left: 0px;
          padding-top: 0px;
        }
      }
    }
  }
}




.bize-ulasin {
  width: 100%;
  height: auto;
  background-color: $purple;
  background-image: url(../images/footer-bg.png);
  background-position: 20% 50%;
  margin-top: 50px;
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > p {
      font-size: 2rem;
      color: #fff;
      text-align: center;
      margin-top: 10px;
    }
    .phone-number {
      font-size: 3rem;
      height: 50px;
      margin: 10px auto;
      span {
        width: 58px;
        height: 58px;
      }
    }
  }
}



.container {
  .metinler {
    margin-top: 50px;
    .metin-item {
      margin-bottom: 30px;
      flex-direction: column;
      .metin-wrap {
        padding: 10px;
        .img-cont {
          border-radius: 10px;
        }
        .metin-text {
          text-align: left;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          h3 {
            font-size: 2.3rem;
            margin-bottom: 10px;
          }
          p {
            font-size: 1.5rem;
          }
        }
      }
      &:nth-child(even) {
        flex-direction: column
      }
    }
    
  }
}




/* MAIN SLIDER */

.main-slider {
  width: 100%;
  height: 450px;
  background-color: $gray;
  background-image: url(../images/bg1.jpg);
  background-repeat: no-repeat;
  .slider-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    .container {
      height: 100%;
      .nextArrow {
        position: absolute;
        font-size: 4rem;
        color: #fff;
        transform: translateY(-28px);
        right: 30%;
        cursor: pointer;
        top: auto;
        bottom: 0 !important;
        z-index: 55;
      }
      .prevArrow {
        position: absolute;
        font-size: 4rem;
        color: #fff;
        top: auto;
        bottom: 0 !important;
        transform: translateY(-28px);
        left: 30%;
        cursor: pointer;
        z-index: 55;
      }
      h1 {
        position: absolute;
        top: 30px;
        font-size: 2.3rem;
        color: #fff;
        font-family: 'AvenirBlack';
      }
      .slider {
        width: 100%;
        height: 100%;
        .slider-item {
          width: 100%;
          height: auto !important;
          display: flex;
          margin-top: 90px;
          max-height: 250px;
          padding: 30px;

          .slider-text {
            flex: 1;
            max-width: 900px;
            margin: 0 auto;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px 20px;
            border-radius: 70px;
            border: 5px solid white;
            text-align: center;
            background-color: rgba(255,255,255,.4);
            q {
              font-size: 1.5rem;
            }
            span {
              font-family: 'AvenirBlack';
              font-size: 2rem;
              margin-top: 15px;
            }
          }
        }
      } 
    }
  }
}







}// media end

