.main-slider {
  min-width: 100%;
  height: 374px;
  background-color: #b2b2b2;
  background-image: url(../images/kabin.jpg);
  background-repeat: no-repeat;
  background-position: 50% 30%;
}

.main-slider .slider-overlay .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-slider .slider-overlay .container .page-title {
  font-family: 'Exo', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 4.8rem;
  color: #fff;
  margin-top: -100px;
}

.container .content-box {
  width: 100%;
  min-height: 330px;
  border-radius: 150px;
  margin-top: -140px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 80px;
}

.container .content-box .content-title {
  font-size: 2.6rem;
  font-family: 'AvenirBlack';
  color: #2d0452;
}

.container .content-box .content-summary {
  font-size: 1.6rem;
  color: #2d0452;
  opacity: 0.6;
  margin-top: 5px;
  text-align: center;
}

.container .content-box .page-content {
  width: 90%;
  height: auto;
  margin-top: 30px;
  font-size: 2rem;
  color: #000;
  line-height: 1.6;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .content-box .page-content .kabin-box {
  width: 265px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .content-box .page-content .kabin-box .kabin-title {
  width: 240px;
  padding-bottom: 20px;
  height: 70px;
  border-radius: 10px 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #a28ec2;
  color: #fff;
  font-family: 'AvenirBlack';
}

.container .content-box .page-content .kabin-box:nth-child(2) .kabin-title {
  background-color: #7a63a0;
}

.container .content-box .page-content .kabin-box:last-child .kabin-title {
  background-color: #4b3969;
}

.container .content-box .page-content .kabin-box ul {
  width: 100%;
  height: auto;
  background-color: #f8f8f8;
  border-radius: 20px;
  margin-top: -20px;
  padding-bottom: 20px;
}

.container .content-box .page-content .kabin-box ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 25px;
  border-bottom: 1px solid #b4b4b4;
  width: 90%;
  margin: 0 auto;
}

.container .content-box .page-content .kabin-box ul li span {
  font-size: 4rem;
  font-family: 'AvenirBlack';
  text-align: center;
  width: 100%;
}

.container .content-box .page-content .kabin-box ul li span b {
  font-family: sans-serif;
}

.container .content-box .page-content .kabin-box ul li .kabin-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .content-box .page-content .kabin-box ul li .kabin-text {
  margin-left: 15px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.container .content-box .page-content .kabin-box ul li .kabin-text p {
  font-size: 1.6rem;
}

.container .content-box .page-content .kabin-box ul li .kabin-text strong {
  font-size: 1.8rem;
  font-family: 'AvenirBlack';
}

.container .content-box .page-content .kabin-box ul li:last-child {
  border: none;
}

.container .content-box .page-content .kabin-box .yapilandir {
  width: 240px;
  height: 50px;
  border-radius: 50px;
  background-color: #2d0452;
  color: #fff;
  font-family: 'AvenirBlack';
  font-size: 2.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -20px;
}

.container .kabin-specs {
  width: 100%;
  height: auto;
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .kabin-specs > li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.container .kabin-specs > li h3 {
  font-family: 'AvenirBlack';
  font-size: 2rem;
  margin: 10px auto;
  text-align: center;
}

.container .kabin-specs > li p {
  font-size: 1.3rem;
  line-height: 1.3;
}

.container .kabin-specs > li ul li {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 3px;
}

.container .features {
  width: 100%;
  margin-top: 90px;
  height: auto;
}

.container .features li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  background-color: #ff2a00;
  border-radius: 30px;
  margin-bottom: 30px;
}

.container .features li .feauture-img-box {
  background-color: rgba(0, 0, 0, 0.2);
  height: 90px;
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px 0 20px 30px;
}

.container .features li .text {
  margin-left: 20px;
  font-size: 1.8rem;
  color: #fff;
}

.container .features li:nth-child(2) {
  background-color: #ffaf00;
}

.container .features li:nth-child(3) {
  background-color: #00baff;
}

.container .features li:nth-child(3) .img-box {
  padding-left: 15px;
  padding-top: 20px;
}

.container .features li:last-child {
  background-color: #2d0452;
}

.container .features li:last-child .img-box {
  padding-left: 15px;
  padding-top: 20px;
}
/*# sourceMappingURL=kabin.css.map */