

$darkPurple: #0f011a;
$purple: #2d0452;
$red: #ff2a00;
$yellow: #ffaf00;
$blue: #00baff;
$gray: #b2b2b2;

.main-slider {
  .slider-overlay {
    background-color: rgba(0,0,0,.4);
    .container {
      padding-top: 30px;
      display: flex;
    }
  }
}


.panel-options {
  flex: 2.2;
  display: flex;
  align-items: flex-start;
  align-self: start;
  justify-content: space-between;
  flex-wrap: wrap;

  .flip-card {
    width: 185px;
    height: 185px;
    perspective: 1000px;
    margin-bottom: 20px;
    position: relative;
    .notification {
      position: absolute;
      top: -5px;
      right: 0px;
      border: 2px solid #fff;
      border-style: dashed;
      background-color: rgba(0,0,0,.8);
      width: 74px;
      height: 30px;
      text-align: center;
      line-height: 28px;
      border-radius: 30px;
      font-size: 2rem;
      font-family: 'AvenirBlack';
      color: #fff;
      z-index: 5;
    }
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    border-radius: 30px !important;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 30px;
  }
  
  .flip-card-front {
    background-color: rgba(255,255,255,.1);
    border-radius: 30px;
    width: 185px;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    p {
      font-size: 2.4rem;
      font-family: 'AvenirLight';
      margin-top: 15px;
    }
  
  }
  
  .flip-card-back {
    background-color: rgba(255,255,255,.1);
    border-radius: 30px;
    width: 185px;
    height: 185px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    position: relative;
    a {
      font-size: 1.6rem;
      color: #fff;
      border-bottom: 1px solid rgba(255,255,255,.2);
      margin-bottom: 10px;
    }
  }

}


.panel-profile {
  flex: 1;
  display: flex;
  justify-content: center;

  .panel-card {
    width: 290px;
    height: 400px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.4);
    position: relative;

    .panel-exit {
      display: inline-flex;
      align-items: center;
      font-size: 2rem;
      color: #be3047;
      font-family: 'AvenirBlack';
      right: -55px;
      top: -5px;
      position: absolute;
      margin-bottom: 10px;
      span {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: #be3047;
        color: #fff;
        font-size: 2rem;
        display: flex;
        margin-right: 5px;
        align-items: center;
        justify-content: center;
      }
    }
    .panel-account {
      display: inline-flex;
      align-items: center;
      font-size: 2rem;
      color: #ffa600;
      font-family: 'AvenirBlack';
      right: -92px;
      top: 35px;
      position: absolute;
      cursor: pointer;
      span {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: #ffa600;
        color: #fff;
        font-size: 2rem;
        display: flex;
        margin-right: 5px;
        align-items: center;
        justify-content: center;
      }
    }


    .panel-inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px 0;
      align-items: center;
      overflow: hidden;
      h3 {
        font-size: 2.4rem;
        font-family: 'AvenirBlack';
        color: $purple;
        text-align: center;
        margin-bottom: 10px;
      }
      .profile-img {
        width: 177px;
        height: 170px;
        min-height: 170px !important;
        border-radius: 30px;
        border: 2px solid $purple;
        border-style: dashed;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 0px 24px rgba(0,0,0,.4);
        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100% !important;
          height: 100% !important;
          object-fit: cover;
        }
      }
      .panel-bottom {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          margin-bottom: 5px;
          font-size: 1.8rem;
          font-family: 'AvenirLight';
        }
        .pay-all {
          width: 100%;
          height: 40px;
          background-color: #c1b3d6;
          text-align: center;
          line-height: 39px;
          font-size: 2rem;
          font-family: 'AvenirBlack';
          color: $purple;
          margin-bottom: 10px;
        }
        & > span {
          color: $purple;
          font-size: 2.2rem;
          text-align: center;
          font-family: 'AvenirBlack';
        }
        & > span + span {
          font-size: 1.6rem;
          text-align: center;
          font-family: 'AvenirMedium';
        }
      }
      
      .panel-settings {
        &.active-panel {
        opacity: 1;
        pointer-events: all;
        }
        display: flex;
        opacity: 0;
        transition: .3s all;
        pointer-events: none;
        flex-direction: column;
        margin-top: 10px;
        a {
          font-size: 1.6rem;
          color: $purple;
          margin-bottom: 5px;
        }
      }
    }
  }
}



.container {
  .content-box {
    width: 100%;
    height: auto;
    border-radius: 150px 150px 0 0 ;
    margin-top: -80px;
    background-color: #fff;
    box-shadow: 0px 0px 60px rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 80px 10px 80px;
    .content-title {
      font-size: 2.6rem;
      font-family: 'AvenirBlack';
      color: $purple;
    }
    .content-summary {
      font-size: 1.6rem;
      color: $purple;
      opacity: 0.6;
      margin-top: 5px;
      text-align: center;
    }
    .page-content {
      width: 80%;
      height: auto;
      margin-top: 30px;
      font-size: 2rem;
      color: #000;
      line-height: 1.6;
      margin-bottom: 30px;
    }
  }
}

.bottom-radius {
  border-radius: 100px !important;
  margin-bottom: 50px;
}

.ticket-form {
  width: 100%;
  height: auto;
  .input-label {
    display: flex;
    margin: auto -15px;
    & > input {
      margin: 0 15px 30px 15px;
    }
    .select-box:nth-child(2) {
      margin: 0 30px;
    }
  }
  .select-label {
    margin: 0px;
  }
  .ticket-input {
    width: 100%;
    height: 60px;
    border: 1.5px solid $purple;
    text-indent: 15px;
    font-size: 1.8rem;
    margin-bottom: 30px;
    &::placeholder {
      color: $purple;
    }
  }
  textarea {
    width: 100%;
    height: 150px;
    border: 1.5px solid $purple;
    text-indent: 15px;
    font-size: 1.8rem;
    margin-bottom: 30px;
    resize: none;
    padding: 15px 0;
    font-family: 'AvenirMedium';
    &::placeholder {
      color: $purple;
    }
  }
  button {
    width: 100%;
    height: 60px;
    border: none;
    background-color: $purple;
    color: #fff;
    font-size: 2.4rem;
    font-family: 'AvenirBlack';
    margin-top: 30px;
    cursor: pointer;
  }
}




// CUSTOM SELECT BOX 
.select-box {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #60666d;
  
  
  &__current {
    position: relative;
    border: 2px solid $purple;
    cursor: pointer;
    outline: none;
    
    &:focus {
      & + .select-box__list {
        opacity: 1;

        // We have to set "animation-name: none;" to make the list visible (read below how it works)

        animation-name: none;
        
        .select-box__option {
          cursor: pointer;
        }
      }
      
      .select-box__icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
  
  &__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
  }
  
  &__value {
    display: flex;
  }
  
  &__input {
    display: none;
    
    &:checked + .select-box__input-text {
      display: block;
    }
  }
  
  &__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    color: $purple;
    background-color: #fff;
  }
  
  &__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    z-index: 99;
    
    // We need to use animation with delay.
    // Otherwise the click event will not have time to run on label, because this element disapears immediately when .select-box__current element loses the focus.
    // This delay will not be noticed because we set "opacity" to "0".
    // We also use "animation-fill-mode: forwards" to make the list stay hidden.
    
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
  }
  
  &__option {
    display: block;
    padding: 15px;
    background-color: #fff;
    color: $purple;
    
    &:hover,
    &:focus {
      color: #546c84;
      background-color: #fbfbfb;
    }
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}








@media only screen and (max-width: 1170px) {

  .main-slider {
    height: auto !important;
    background-position: center;
    .slider-overlay {
      background-color: rgba(0,0,0,.4);
      .container {
        padding-top: 30px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
      }
    }
  }




  
.panel-options {
  flex: 2.2;
  display: flex;
  align-items: flex-start;
  align-self: start;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;

  .flip-card {
    width: 155px;
    height: 155px;
    perspective: 1000px;
    margin-bottom: 20px;
    position: relative;
    .notification {
      position: absolute;
      top: -5px;
      right: 0px;
      border: 2px solid #fff;
      border-style: dashed;
      background-color: rgba(0,0,0,.8);
      width: 74px;
      height: 30px;
      text-align: center;
      line-height: 28px;
      border-radius: 30px;
      font-size: 2rem;
      font-family: 'AvenirBlack';
      color: #fff;
      z-index: 5;
    }
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    border-radius: 30px !important;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 30px;
  }
  
  .flip-card-front {
    background-color: rgba(255,255,255,.1);
    border-radius: 20px;
    width: 155px;
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    p {
      font-size: 1.6rem;
      font-family: 'AvenirLight';
      margin-top: 15px;
    }
  
  }
  
  .flip-card-back {
    background-color: rgba(255,255,255,.1);
    border-radius: 20px;
    width: 155px;
    height: 155px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    position: relative;
    a {
      font-size: 1.4rem;
      color: #fff;
      border-bottom: 1px solid rgba(255,255,255,.2);
      margin-bottom: 10px;
    }
  }

}







.container {
  .content-box {
    width: 100%;
    height: auto;
    border-radius: 50px !important;
    margin-top: -40px;
    background-color: #fff;
    box-shadow: 0px 0px 60px rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    .content-title {
      font-size: 2rem;
      font-family: 'AvenirBlack';
      color: $purple;
      text-align: center;
    }
    .content-summary {
      font-size: 1.3rem;
      color: $purple;
      opacity: 0.6;
      margin-top: 5px;
      text-align: center;
    }
    .page-content {
      width: 100%;
      height: auto;
      margin-top: 30px;
      font-size: 2rem;
      color: #000;
      line-height: 1.6;
      margin-bottom: 30px;
    }
  }
}


.panel-profile {
  flex: 1;
  display: flex;
  justify-content: center;

  .panel-card {
    width: 290px;
    height: 400px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.4);
    position: relative;

    .panel-exit {
      display: inline-flex;
      align-items: center;
      flex-direction: column;
      font-size: 2rem;
      color: #be3047;
      font-family: 'AvenirBlack';
      right: -25px;
      top: -5px;
      z-index: 8;
      position: absolute;
      margin-bottom: 10px;
      span {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: #be3047;
        color: #fff;
        font-size: 1.6rem;
        display: flex;
        margin-right: 5px;
        align-items: center;
        justify-content: center;
      }
    }
    .panel-account {
      display: inline-flex;
      align-items: center;
      flex-direction: column;
      font-size: 1.6rem;
      color: #ffa600;
      font-family: 'AvenirBlack';
      z-index: 8;
      right: -35px;
      top: 55px;
      position: absolute;
      cursor: pointer;
      span {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: #ffa600;
        color: #fff;
        font-size: 2rem;
        display: flex;
        margin-right: 5px;
        align-items: center;
        justify-content: center;
      }
    }


    .panel-inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px 0;
      align-items: center;
      overflow: hidden;
      h3 {
        font-size: 2.4rem;
        font-family: 'AvenirBlack';
        color: $purple;
        text-align: center;
        margin-bottom: 10px;
      }
      .profile-img {
        width: 177px;
        height: 170px;
        min-height: 170px !important;
        border-radius: 30px;
        border: 2px solid $purple;
        border-style: dashed;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 0px 24px rgba(0,0,0,.4);
        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100% !important;
          height: 100% !important;
          object-fit: cover;
        }
      }
      .panel-bottom {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          margin-bottom: 5px;
          font-size: 1.8rem;
          font-family: 'AvenirLight';
        }
        .pay-all {
          width: 100%;
          height: 40px;
          background-color: #c1b3d6;
          text-align: center;
          line-height: 39px;
          font-size: 2rem;
          font-family: 'AvenirBlack';
          color: $purple;
          margin-bottom: 10px;
        }
        & > span {
          color: $purple;
          font-size: 2.2rem;
          text-align: center;
          font-family: 'AvenirBlack';
        }
        & > span + span {
          font-size: 1.6rem;
          text-align: center;
          font-family: 'AvenirMedium';
        }
      }
      
      .panel-settings {
        &.active-panel {
        opacity: 1;
        pointer-events: all;
        }
        display: flex;
        opacity: 0;
        transition: .3s all;
        pointer-events: none;
        flex-direction: column;
        margin-top: 10px;
        a {
          font-size: 1.6rem;
          color: $purple;
          margin-bottom: 5px;
        }
      }
    }
  }
}



.ticket-form {
  width: 100%;
  height: auto;
  .input-label {
    display: flex;
    flex-direction: column;
    margin: auto 0px;
    & > input {
      margin: 0 0 30px 0;
    }
    .select-box:nth-child(2) {
      margin: 0px;
    }
  }
  .select-label {
    margin: 0px;
    .select-box {
      margin-bottom: 30px !important;
    }
  }
  .ticket-input {
    width: 100%;
    height: 60px;
    border: 1.5px solid $purple;
    text-indent: 15px;
    font-size: 1.8rem;
    margin-bottom: 30px;
    &::placeholder {
      color: $purple;
    }
  }
  textarea {
    width: 100%;
    height: 150px;
    border: 1.5px solid $purple;
    text-indent: 15px;
    font-size: 1.8rem;
    margin-bottom: 30px;
    resize: none;
    padding: 15px 0;
    font-family: 'AvenirMedium';
    &::placeholder {
      color: $purple;
    }
  }
  button {
    width: 100%;
    height: 60px;
    border: none;
    background-color: $purple;
    color: #fff;
    font-size: 2.4rem;
    font-family: 'AvenirBlack';
    margin-top: 0px;
    cursor: pointer;
  }
}





} //media end