.main-slider .slider-overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.main-slider .slider-overlay .container {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.panel-options {
  -webkit-box-flex: 2.2;
      -ms-flex: 2.2;
          flex: 2.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: start;
      align-self: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.panel-options .flip-card {
  width: 185px;
  height: 185px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin-bottom: 20px;
  position: relative;
}

.panel-options .flip-card .notification {
  position: absolute;
  top: -5px;
  right: 0px;
  border: 2px solid #fff;
  border-style: dashed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 74px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  border-radius: 30px;
  font-size: 2rem;
  font-family: 'AvenirBlack';
  color: #fff;
  z-index: 5;
}

.panel-options .disable-rotate:hover .flip-card-inner {
  -webkit-transform: rotateY(0deg) !important;
          transform: rotateY(0deg) !important;
}

.panel-options .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px !important;
}

.panel-options .flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.panel-options .flip-card-front, .panel-options .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 30px;
}

.panel-options .flip-card-front {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  width: 185px;
  height: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.panel-options .flip-card-front p {
  font-size: 2.4rem;
  font-family: 'AvenirLight';
  margin-top: 15px;
}

.panel-options .flip-card-front a {
  font-size: 2.4rem;
  font-family: 'AvenirLight';
  margin-top: 15px;
  color: #fff;
}

.panel-options .flip-card-back {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  width: 185px;
  height: 185px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  position: relative;
}

.panel-options .flip-card-back a {
  font-size: 1.6rem;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 10px;
}

.panel-profile {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.panel-profile .panel-card {
  width: 290px;
  height: 400px;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  position: relative;
}

.panel-profile .panel-card .panel-exit {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  color: #be3047;
  font-family: 'AvenirBlack';
  right: -55px;
  top: -5px;
  position: absolute;
  margin-bottom: 10px;
}

.panel-profile .panel-card .panel-exit span {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #be3047;
  color: #fff;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.panel-profile .panel-card .panel-account {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  color: #ffa600;
  font-family: 'AvenirBlack';
  right: -92px;
  top: 35px;
  position: absolute;
  cursor: pointer;
}

.panel-profile .panel-card .panel-account span {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #ffa600;
  color: #fff;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.panel-profile .panel-card .panel-inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.panel-profile .panel-card .panel-inner h3 {
  font-size: 2.4rem;
  font-family: 'AvenirBlack';
  color: #2d0452;
  text-align: center;
  margin-bottom: 10px;
}

.panel-profile .panel-card .panel-inner .profile-img {
  width: 177px;
  height: 170px;
  min-height: 170px !important;
  border-radius: 30px;
  border: 2px solid #2d0452;
  border-style: dashed;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.4);
}

.panel-profile .panel-card .panel-inner .profile-img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.panel-profile .panel-card .panel-inner .panel-bottom {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel-profile .panel-card .panel-inner .panel-bottom p {
  margin-bottom: 5px;
  font-size: 1.8rem;
  font-family: 'AvenirLight';
}

.panel-profile .panel-card .panel-inner .panel-bottom .pay-all {
  width: 100%;
  height: 40px;
  background-color: #c1b3d6;
  text-align: center;
  line-height: 39px;
  font-size: 2rem;
  font-family: 'AvenirBlack';
  color: #2d0452;
  margin-bottom: 10px;
}

.panel-profile .panel-card .panel-inner .panel-bottom > span {
  color: #2d0452;
  font-size: 2.2rem;
  text-align: center;
  font-family: 'AvenirBlack';
}

.panel-profile .panel-card .panel-inner .panel-bottom > span + span {
  font-size: 1.6rem;
  text-align: center;
  font-family: 'AvenirMedium';
}

.panel-profile .panel-card .panel-inner .panel-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: .3s all;
  transition: .3s all;
  pointer-events: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.panel-profile .panel-card .panel-inner .panel-settings.active-panel {
  opacity: 1;
  pointer-events: all;
}

.panel-profile .panel-card .panel-inner .panel-settings a {
  font-size: 1.6rem;
  color: #2d0452;
  margin-bottom: 5px;
}

.container .content-box {
  width: 100%;
  height: auto;
  border-radius: 150px 150px 0 0;
  margin-top: -80px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 80px 10px 80px;
}

.container .content-box .content-title {
  font-size: 2.6rem;
  font-family: 'AvenirBlack';
  color: #2d0452;
}

.container .content-box .content-summary {
  font-size: 1.6rem;
  color: #2d0452;
  opacity: 0.6;
  margin-top: 5px;
  text-align: center;
}

.container .content-box .page-content {
  width: 80%;
  height: auto;
  margin-top: 30px;
  font-size: 2rem;
  color: #000;
  line-height: 1.6;
  margin-bottom: 30px;
}

.bottom-radius {
  border-radius: 100px !important;
  margin-bottom: 50px;
}

.ticket-form {
  width: 100%;
  height: auto;
}

.ticket-form .input-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto -15px;
}

.ticket-form .input-label > input {
  margin: 0 15px 30px 15px;
}

.ticket-form .input-label .select-box:nth-child(2) {
  margin: 0 30px;
}

.ticket-form .select-label {
  margin: 0px;
}

.ticket-form .ticket-input {
  width: 100%;
  height: 60px;
  border: 1.5px solid #2d0452;
  text-indent: 15px;
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.ticket-form .ticket-input::-webkit-input-placeholder {
  color: #2d0452;
}

.ticket-form .ticket-input:-ms-input-placeholder {
  color: #2d0452;
}

.ticket-form .ticket-input::-ms-input-placeholder {
  color: #2d0452;
}

.ticket-form .ticket-input::placeholder {
  color: #2d0452;
}

.ticket-form textarea {
  width: 100%;
  height: 150px;
  border: 1.5px solid #2d0452;
  text-indent: 15px;
  font-size: 1.8rem;
  margin-bottom: 30px;
  resize: none;
  padding: 15px 0;
  font-family: 'AvenirMedium';
}

.ticket-form textarea::-webkit-input-placeholder {
  color: #2d0452;
}

.ticket-form textarea:-ms-input-placeholder {
  color: #2d0452;
}

.ticket-form textarea::-ms-input-placeholder {
  color: #2d0452;
}

.ticket-form textarea::placeholder {
  color: #2d0452;
}

.ticket-form button {
  width: 100%;
  height: 60px;
  border: none;
  background-color: #2d0452;
  color: #fff;
  font-size: 2.4rem;
  font-family: 'AvenirBlack';
  margin-top: 30px;
  cursor: pointer;
}

.select-box {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #60666d;
}

.select-box__current {
  position: relative;
  border: 2px solid #2d0452;
  cursor: pointer;
  outline: none;
}

.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
          animation-name: none;
}

.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}

.select-box__current:focus .select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  opacity: 0.3;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.select-box__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select-box__input {
  display: none;
}

.select-box__input:checked + .select-box__input-text {
  display: block;
}

.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 15px;
  color: #2d0452;
  background-color: #fff;
}

.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  z-index: 99;
  -webkit-animation-name: HideList;
          animation-name: HideList;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.select-box__option {
  display: block;
  padding: 15px;
  background-color: #fff;
  color: #2d0452;
}

.select-box__option:hover, .select-box__option:focus {
  color: #546c84;
  background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@media only screen and (max-width: 1170px) {
  .main-slider {
    height: auto !important;
    background-position: center;
  }
  .main-slider .slider-overlay {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .main-slider .slider-overlay .container {
    padding-top: 30px;
    padding-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .panel-options {
    -webkit-box-flex: 2.2;
        -ms-flex: 2.2;
            flex: 2.2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-item-align: start;
        align-self: start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
  }
  .panel-options .flip-card {
    width: 155px;
    height: 155px;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    margin-bottom: 20px;
    position: relative;
  }
  .panel-options .flip-card .notification {
    position: absolute;
    top: -5px;
    right: 0px;
    border: 2px solid #fff;
    border-style: dashed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 74px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    border-radius: 30px;
    font-size: 2rem;
    font-family: 'AvenirBlack';
    color: #fff;
    z-index: 5;
  }
  .panel-options .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 30px !important;
  }
  .panel-options .flip-card:hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .panel-options .flip-card-front, .panel-options .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 30px;
  }
  .panel-options .flip-card-front {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    width: 155px;
    height: 155px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
  }
  .panel-options .flip-card-front p {
    font-size: 1.6rem;
    font-family: 'AvenirLight';
    margin-top: 15px;
  }
  .panel-options .flip-card-back {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    width: 155px;
    height: 155px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    position: relative;
  }
  .panel-options .flip-card-back a {
    font-size: 1.4rem;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
  }
  .container .content-box {
    width: 100%;
    height: auto;
    border-radius: 50px !important;
    margin-top: -40px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  .container .content-box .content-title {
    font-size: 2rem;
    font-family: 'AvenirBlack';
    color: #2d0452;
    text-align: center;
  }
  .container .content-box .content-summary {
    font-size: 1.3rem;
    color: #2d0452;
    opacity: 0.6;
    margin-top: 5px;
    text-align: center;
  }
  .container .content-box .page-content {
    width: 100%;
    height: auto;
    margin-top: 30px;
    font-size: 2rem;
    color: #000;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  .panel-profile {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .panel-profile .panel-card {
    width: 290px;
    height: 400px;
    background-color: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    position: relative;
  }
  .panel-profile .panel-card .panel-exit {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2rem;
    color: #be3047;
    font-family: 'AvenirBlack';
    right: -25px;
    top: -5px;
    z-index: 8;
    position: absolute;
    margin-bottom: 10px;
  }
  .panel-profile .panel-card .panel-exit span {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #be3047;
    color: #fff;
    font-size: 1.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .panel-profile .panel-card .panel-account {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.6rem;
    color: #ffa600;
    font-family: 'AvenirBlack';
    z-index: 8;
    right: -35px;
    top: 55px;
    position: absolute;
    cursor: pointer;
  }
  .panel-profile .panel-card .panel-account span {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #ffa600;
    color: #fff;
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .panel-profile .panel-card .panel-inner {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .panel-profile .panel-card .panel-inner h3 {
    font-size: 2.4rem;
    font-family: 'AvenirBlack';
    color: #2d0452;
    text-align: center;
    margin-bottom: 10px;
  }
  .panel-profile .panel-card .panel-inner .profile-img {
    width: 177px;
    height: 170px;
    min-height: 170px !important;
    border-radius: 30px;
    border: 2px solid #2d0452;
    border-style: dashed;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.4);
  }
  .panel-profile .panel-card .panel-inner .profile-img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .panel-profile .panel-card .panel-inner .panel-bottom {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .panel-profile .panel-card .panel-inner .panel-bottom p {
    margin-bottom: 5px;
    font-size: 1.8rem;
    font-family: 'AvenirLight';
  }
  .panel-profile .panel-card .panel-inner .panel-bottom .pay-all {
    width: 100%;
    height: 40px;
    background-color: #c1b3d6;
    text-align: center;
    line-height: 39px;
    font-size: 2rem;
    font-family: 'AvenirBlack';
    color: #2d0452;
    margin-bottom: 10px;
  }
  .panel-profile .panel-card .panel-inner .panel-bottom > span {
    color: #2d0452;
    font-size: 2.2rem;
    text-align: center;
    font-family: 'AvenirBlack';
  }
  .panel-profile .panel-card .panel-inner .panel-bottom > span + span {
    font-size: 1.6rem;
    text-align: center;
    font-family: 'AvenirMedium';
  }
  .panel-profile .panel-card .panel-inner .panel-settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    -webkit-transition: .3s all;
    transition: .3s all;
    pointer-events: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
  .panel-profile .panel-card .panel-inner .panel-settings.active-panel {
    opacity: 1;
    pointer-events: all;
  }
  .panel-profile .panel-card .panel-inner .panel-settings a {
    font-size: 1.6rem;
    color: #2d0452;
    margin-bottom: 5px;
  }
  .ticket-form {
    width: 100%;
    height: auto;
  }
  .ticket-form .input-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto 0px;
  }
  .ticket-form .input-label > input {
    margin: 0 0 30px 0;
  }
  .ticket-form .input-label .select-box:nth-child(2) {
    margin: 0px;
  }
  .ticket-form .select-label {
    margin: 0px;
  }
  .ticket-form .select-label .select-box {
    margin-bottom: 30px !important;
  }
  .ticket-form .ticket-input {
    width: 100%;
    height: 60px;
    border: 1.5px solid #2d0452;
    text-indent: 15px;
    font-size: 1.8rem;
    margin-bottom: 30px;
  }
  .ticket-form .ticket-input::-webkit-input-placeholder {
    color: #2d0452;
  }
  .ticket-form .ticket-input:-ms-input-placeholder {
    color: #2d0452;
  }
  .ticket-form .ticket-input::-ms-input-placeholder {
    color: #2d0452;
  }
  .ticket-form .ticket-input::placeholder {
    color: #2d0452;
  }
  .ticket-form textarea {
    width: 100%;
    height: 150px;
    border: 1.5px solid #2d0452;
    text-indent: 15px;
    font-size: 1.8rem;
    margin-bottom: 30px;
    resize: none;
    padding: 15px 0;
    font-family: 'AvenirMedium';
  }
  .ticket-form textarea::-webkit-input-placeholder {
    color: #2d0452;
  }
  .ticket-form textarea:-ms-input-placeholder {
    color: #2d0452;
  }
  .ticket-form textarea::-ms-input-placeholder {
    color: #2d0452;
  }
  .ticket-form textarea::placeholder {
    color: #2d0452;
  }
  .ticket-form button {
    width: 100%;
    height: 60px;
    border: none;
    background-color: #2d0452;
    color: #fff;
    font-size: 2.4rem;
    font-family: 'AvenirBlack';
    margin-top: 0px;
    cursor: pointer;
  }
}
/*# sourceMappingURL=panel.css.map */