.main-slider {
  min-width: 100%;
  height: 374px;
  background-color: #b2b2b2;
  background-image: url(../images/sanalsunucubanner.jpg) !important;
  background-repeat: no-repeat;
  background-position: 50% 30%;
}

.bottom-banner {
  background-image: url(../images/sanalsunucubanner.jpg);
  margin-top: 50px;
}

.bottom-banner .banner-text {
  text-align: center;
}

.vds-tablo-titles {
  width: calc(100% - 300px);
  height: 30px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 120px;
  margin-bottom: 0px;
}

.vds-tablo-titles p {
  font-family: 'AvenirBlack';
  color: #080113;
  font-size: 1.8rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vds-tablo {
  width: 100%;
  height: auto;
}

.vds-tablo .vds-tablo-row {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vds-tablo .vds-tablo-row:first-child .vds-title {
  border-top-left-radius: 20px;
}

.vds-tablo .vds-tablo-row:first-child .vds-detail {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.vds-tablo .vds-tablo-row:nth-child(2) .vds-title {
  background-color: #7a63a0;
}

.vds-tablo .vds-tablo-row:nth-child(3) .vds-title {
  background-color: #4b3969;
}

.vds-tablo .vds-tablo-row:last-child .vds-title {
  border-bottom-left-radius: 20px;
  background-color: #2d0452;
}

.vds-tablo .vds-tablo-row:last-child .vds-detail {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.vds-tablo .vds-tablo-row .vds-title {
  width: 190px;
  height: 50px;
  padding-right: 20px;
  background-color: #a28ec2;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'AvenirBlack';
  border: 1px solid #b0a1ca;
}

.vds-tablo .vds-tablo-row .vds-detail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 50px;
  background-color: #f8f8f8;
  margin-left: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vds-tablo .vds-tablo-row .vds-detail li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
  color: #080113;
  border-right: 1px solid #e6e6e6;
}

.vds-tablo .vds-tablo-row .vds-detail li:last-child {
  border-right: 0px;
}

.vds-tablo .vds-tablo-row .vds-detail li > span {
  color: #ff2a00;
  margin-top: -8px;
}

.vds-tablo .vds-tablo-row .vds-detail li .satin-al {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 110px;
  height: 35px;
  border-radius: 35px;
  color: #fff;
  font-family: 'AvenirBlack';
  font-size: 1.6rem;
  background-color: #2d0452;
}

.cont-2 .content-box {
  margin-top: -25px;
}

.cont-3 .content-box {
  margin-top: -25px;
}

@media only screen and (max-width: 1170px) {
  .page-title {
    font-size: 3.4rem !important;
  }
  .cont-2 .content-box {
    margin-top: 25px;
  }
  .cont-3 .content-box {
    margin-top: 25px;
  }
  .page-content {
    max-width: 95%;
    margin: 0 auto;
    overflow-x: auto;
    position: relative;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  .page-content::-webkit-scrollbar {
    width: 10px;
    margin-top: 5px;
  }
  .page-content::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 5px;
  }
  .page-content::-webkit-scrollbar-thumb {
    background: #2d0452;
    border-radius: 5px;
  }
  .page-content::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .vds-tablo-row {
    min-width: 1000px;
  }
  .vds-tablo-titles p {
    font-family: 'AvenirBlack';
    color: #080113;
    font-size: 1.6rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 110px;
  }
}
/*# sourceMappingURL=sanal-sunucu.css.map */